h1 {
    display: inline;
    font-size: 22px;
    line-height: 22px;
    min-width: 22px;
    text-align: center;
    padding: 6px;
    margin: .35%;
    color: #d7e8e8;
    background-color: #399b9b;
    border-radius: 10%;
}

.row {
    display: flex;
    justify-content: center;
}

body {
    background-color: #f9d5ca;
}

fieldset {
    border: none;
    text-align: center;
    margin: 25px;
}

#rows {
    height: 26px;
    width: 75px;
}

label {
    font-size: 18px;
}

button {
    height: 26px;
    cursor: pointer;
}